import React from "react";
import {} from "prop-types";
import "./{{kebabCase name}}.scss";

const propTypes = {};
const defaultProps = {};

export const {{pascalCase name}} = (props) => <div className="component {{kebabCase name}}">{{ titleCase name}} Template</div>;

{{pascalCase name}}.defaultProps = defaultProps;
{{pascalCase name}}.propTypes = propTypes;